.onlineChat {
  padding-left: 8px;
}

.onlineChatFriend {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  padding-top: 16px;
}

.onlineChatImgContainer {
  position: relative;
  margin-right: 13px;
}

.onlineChatImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}

.onlineChatBadge {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: 0px;
  right: 0px;
}
