.rightbar {
  flex: 3.5;
}

.rightbarWrapper {
  padding: 25px 20px 0 0;
}

.birthdayContainer {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.birthdayImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthdayText {
  font-weight: 300;
  font-size: 15px;
}

.rightbarAd {
  width: 85%;
  border-radius: 10px;
  margin: 20px 0px;
  margin-left: 10px;
}

.rightbarTitle {
  margin-bottom: 20px;
  padding-left: 40px;
  font-size: 23px;
  padding-top: 20px;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 40px;
}
